@import './color/material-design-colors.css';

#cephas {
    --red: var(--red500);
    --lt-red: var(--red300);
    --dk-red: var(--red700);
    --pink: var(--pink500);
    --lt-pink: var(--pink300);
    --dk-pink: var(--pink700);
    --purple: var(--purple500);
    --lt-purple: var(--purple300);
    --dk-purple: var(--purple700);
    --deep-purple: var(--deep-purple500);
    --lt-deep-purple: var(--deep-purple300);
    --dk-deep-purple: var(--deep-purple700);
    --indigo: var(--indigo500);
    --lt-indigo: var(--indigo300);
    --dk-indigo: var(--indigo700);
    --blue: var(--blue500);
    --lt-blue: var(--blue300);
    --dk-blue: var(--blue700);
    --light-blue: var(--light-blue500);
    --lt-light-blue: var(--light-blue300);
    --dk-light-blue: var(--light-blue700);
    --cyan: var(--cyan500);
    --lt-cyan: var(--cyan300);
    --dk-cyan: var(--cyan700);
    --teal: var(--teal500);
    --lt-teal: var(--teal300);
    --dk-teal: var(--teal700);
    --green: var(--green500);
    --lt-green: var(--green300);
    --dk-green: var(--green700);
    --light-green: var(--light-green500);
    --lt-light-green: var(--light-green300);
    --dk-light-green: var(--light-green700);
    --lime: var(--lime500);
    --lt-lime: var(--lime300);
    --dk-lime: var(--lime700);
    --yellow: var(--yellow500);
    --lt-yellow: var(--yellow300);
    --dk-yellow: var(--yellow700);
    --amber: var(--amber500);
    --lt-amber: var(--amber300);
    --dk-amber: var(--amber700);
    --orange: var(--orange500);
    --lt-orange: var(--orange300);
    --dk-orange: var(--orange700);
    --deep-orange: var(--deep-orange500);
    --lt-deep-orange: var(--deep-orange300);
    --dk-deep-orange: var(--deep-orange700);
    --brown: var(--brown500);
    --lt-brown: var(--brown300);
    --dk-brown: var(--brown700);
    --gray: var(--gray500);
    --lt-gray: var(--gray300);
    --dk-gray: var(--gray700);
    --blue-gray: var(--blue-gray500);
    --lt-blue-gray: var(--blue-gray300);
    --dk-blue-gray: var(--blue-gray700);
}