@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,400,400i,700,700i');

@import './type/code.css';
@import './type/headings.css';
@import './type/list.css';
@import './type/text.css';

#cephas {
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Roboto, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 20px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#cephas blockquote,
#cephas h1,
#cephas h2,
#cephas h3,
#cephas h4,
#cephas h5,
#cephas h6,
#cephas p,
#cephas pre
{
    margin: 1.5rem 0 0;
}