@import './type/code.css';
@import './type/headings.css';
@import './type/text.css';

#cephas {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#cephas blockquote,
#cephas h1,
#cephas h2,
#cephas h3,
#cephas h4,
#cephas h5,
#cephas h6,
#cephas p,
#cephas pre {
    margin: 1rem 0;
}