#cephas > * {
    background: var(--default-bg);
    padding: 2rem 0;
    width: 100%;
}

#cephas > * > div {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    max-width: 1000px;
}

#cephas > * > div > main {
    grid-column-end: span 2;
}

#cephas > * > div > main:only-child {
    grid-column: 1 / span 3;
}

#cephas > * > div > * > *:first-child {
    margin-top: 0;
}

@media screen and (max-width: 1000px) {
    #cephas >
    * >
    div {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}