#cephas > *.primary {
    background: var(--primary-bg);
}

#cephas > *.secondary {
    background: var(--secondary-bg);
}

#cephas > *.dark {
    background: var(--gray900);
}

#cephas > footer {
    background: var(--tertiary-bg);
}

#cephas > *.parallax,
#cephas > *.window {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cephas > *.parallax {
    background-attachment: fixed;
}