#cephas #youtube {
    display: grid;
    grid-column-end: span 3;
    grid-gap: 1rem;
    grid-template-columns: 1fr min-content;
}

#cephas #youtube a {
    align-items: center;
    color: white;
    display: grid;
    grid-column-end: span 2;
    grid-gap: 0.5rem;
    grid-template-columns: min-content 1fr;
    text-decoration: none;
}

#cephas #youtube a h1 {
    margin-top: 0;
}

#cephas #youtube a i.fa-youtube {
    transition: all 100ms ease-in-out;
}

#cephas #youtube a:hover i.fa-youtube {
    color: #FC0D1B;
}