#cephas h1,
#cephas h2,
#cephas h3,
#cephas h4,
#cephas h5,
#cephas h6 {
    font-weight: bold;
}

#cephas h1 { font-size: 2rem }
#cephas h2 { font-size: 1.75rem }
#cephas h3 { font-size: 1.5rem }
#cephas h4 { font-size: 1.25rem }
#cephas h5 { font-size: 1.125rem }
#cephas h6 { font-size: 1rem }