#cephas p {
    line-height: 125%;
}

#cephas blockquote {
    border-left: 2px solid var(--gray400);
    color: var(--gray800);
    padding: 0.25rem 1rem;
}

#cephas blockquote
p {
    margin: 0;
}

#cephas blockquote
p:not(:last-child) {
    margin-bottom: 0.5rem;
}

#cephas blockquote
cite {
    font-style: italic;
    padding-top: 0.5rem;
}

#cephas blockquote
cite::before {
    content: '—';
}